
    h1{
                       color:#D0F5A9;
                       font-family:algerian;
                       font-size:50px;
                       text-allign:center;
                 }
