    table tr ,th ,td {
                                        border:solid black;
                                         text-align:center;
                                         font-size:25px;
                                         width:250px;
                                }

