  table th , td {
                                             border:2px;
                                              width:150px
                                       }
                                Th  {
                                             background-color:#01A9DB;
                                       } 
                            Td {
                                         background-color:#81DAF5;
                                  }
